In [55]:
import pandas as pd

In [56]:

compiled_data_directory = '../../../proj1_unsorted_data/compiled_data_unsorted.csv'
df=pd.read_csv(compiled_data_directory, header=0, names = ["index","ca","remote_unit",\
               "scp_address","station","line_name","division","date","time",\
               "description","entry_cumulative","exit_cumulative"])

In [57]:
df.head()

,index,ca,remote_unit,scp_address,station,line_name,division,date,time,description,entry_cumulative,exit_cumulative
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,00:00:00,REGULAR,6127245,2076158
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,04:00:00,REGULAR,6127285,2076165
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,08:00:00,REGULAR,6127304,2076196
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,12:00:00,REGULAR,6127409,2076284
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,16:00:00,REGULAR,6127654,2076350

In [58]:
df=df.drop(columns = ['ca','remote_unit','division'])

In [59]:
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350

In [6]:
df['entry_relative'] = df['entry_cumulative'].diff()
df['exit_relative'] = df['exit_cumulative'].diff()

In [7]:
df['description'].nunique()

2

In [8]:
df['entry_relative'].describe()

count    2.179912e+06
mean    -2.808228e+00
std      4.198471e+07
min     -2.118998e+09
25%      8.000000e+00
50%      7.400000e+01
75%      2.490000e+02
max      2.123318e+09
Name: entry_relative, dtype: float64

In [35]:
sus_index=df.loc[df['entry_relative']==df['entry_relative'].max()]

In [54]:
# Find where turnstile addresses don't match so that diff() function won't be applied there
print(sus_index)
sus_index_num=1248069
df.iloc[sus_index_num-3:sus_index_num+3,0]

        scp_address station line_name        date      time description  \
1248069    01-03-00   14 ST      ACEL  03/18/2017  01:00:00     REGULAR

         entry_cumulative  exit_cumulative  entry_relative  exit_relative
1248069        2130581192       1157476857    2.123318e+09   1.148523e+09

1248066    01-00-02
1248067    01-00-02
1248068    01-00-02
1248069    01-03-00
1248070    01-03-00
1248071    01-03-00
Name: scp_address, dtype: object